<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <%= form_tag(search_path, method: :get) do %>
        <%= label_tag(:search_for, "Buscar Receitas") %>
        <%= text_field_tag(:search_for) %>
        <%= submit_tag("Pesquisar") %>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <%= link_to 'Minhas Receitas', myrecipes_path %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </nav>

    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
